@import "./reset";

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

// col и column по идее одно и то же, но классы разные
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding-top: 40px;
}

.crossed {
  text-decoration: line-through;
}
