@import "./reset";

html {
  font-family: 'Roboto', sans-serif;
  background: #e7ebf0;
  min-height: 100vh;
}

.application-wrap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  margin: 20px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.form {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.crossed {
  text-decoration: line-through;
}

.tasks {
  background: #ffffff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.task {
  border-bottom: 1px solid #1976d2;
}

.content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.userCard {
  display: flex;
  justify-content: space-around;
  padding: 8px;

  @media screen and (max-width: 750px){
    flex-direction: column;
    align-items: center;
  }
}

.cardName {
 margin: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.link {
  color: #ffffff;
  transition: 0.4s;

  &:hover {
    color: #90c1e3;
  }

  &.active {
    text-decoration: none;
  }
}

.toolbar {
  display: flex;
  justify-content: space-around;
}